* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(demoShop/patt.png);
}
input,
input:active,
input:focus {
    outline: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after, .menu:after {
    content: "";
    display: block;
    clear: both;
}
[class*=col-] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu li {
    width: 25%;
    float: left;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
    border-left: 1px solid #2c71b8;
}
.menu a:hover {
    color: #ffffff;
    background-color: #2c71b8;
}
.search-basket:after {
    content: "";
    display: block;
    clear: both;
}
.search, .basket {
    float: left;
}
.search {
    height: 40px;
    width: 200px;
    margin: 5px 0;
    border: 1px solid #2c71b8;
}
.search form {
    height: 100%;
    position: relative;
}
.search input {
    position: absolute;
    width: 160px;
    height: 100%;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 21px;
    padding-left: 20px;
}
.search a {
    position: absolute;
    display: block;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 4px;
    background-color: #2c71b8;
}
.search img {
    padding: 9px 8px;
} 
.search input::-webkit-input-placeholder {
    color: #2c71b8;
}
.search input::-moz-placeholder {
    color: #2c71b8;
}
.basket {
    width: 40px;
    height: 40px;
    margin: 5px 0 5px 30px;
}
.basket a {
    display: block;
    background-color: #fff;
}
.basket img {
    padding: 10px;
}