* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(demoShop/patt.png);
}
input,
input:active,
input:focus {
    outline: none;
}
button,
button:active,
button:focus {
    outline: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after, .menu:after, .search-basket:after {
    content: "";
    display: block;
    clear: both;
}
[class*=col-] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu-li {
    width: 25%;
    float: left;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    text-decoration: none;
    font-size: 21px;
}
.menu-block {
    border-left: 1px solid #2c71b8;
    line-height: 50px;
    color: #2c71b8;
    height: 50px;
    text-align: center;
}
.menu-li:hover .menu-block {
    color: #ffffff;
    background-color: #2c71b8;
}
.menu-products {
    position: relative;
}
.menu-products:hover .menu2 {
    display: block;
}
.menu2 {
    display: none;
    position: absolute;
    background-color: #2c71b8;
    z-index: 1;
}
.menu2-block {
    color: #ffffff;
    width: 285px;
    padding: 10px 30px;
    text-align: left;
}
.menu2-block:hover {
    background-color: #ffffff;
    color: #2c71b8;
}
.search, .basket {
    float: left;
}
.search {
    height: 40px;
    width: 200px;
    margin: 5px 0;
    border: 1px solid #2c71b8;
}
.search form {
    height: 100%;
    position: relative;
}
.search input {
    position: absolute;
    width: 160px;
    height: 100%;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 21px;
    padding-left: 20px;
}
.search a {
    position: absolute;
    display: block;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 4px;
    background-color: #2c71b8;
}
.search img {
    padding: 9px 8px;
} 
.search input::-webkit-input-placeholder {
    color: #2c71b8;
}
.search input::-moz-placeholder {
    color: #2c71b8;
}
.basket {
    margin: 5px 0 5px 30px;
}
.basket a {
    height: 40px;
    width: 40px;
    display: block;
    background-color: #fff;
}
.basket img {
    padding: 10px;
}
.device-type {
    height: 345px;
}
.small-nav {
    margin: 30px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.small-nav a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}
.block {
    border: 1px solid #ffffff;
    margin-top: 30px;
}
.images {
    position: relative;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
}
.images button {
    padding: 0;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
}
.device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.option-btn {
    top: 10px;
    right: 10px;
}
.option {
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 1px solid #2c71b8;
}
.like-btn {
    top: 50px;
    right: 10px;
}
.like {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #2c71b8;
}
.text {
    padding: 12px 15px;
    color: #ffffff;
    background-color: rgba(44, 113, 184, 0.75);
}
.text h3 {
    font-size: 30px;
}

.text p {
    margin-top: 20px;
    font-size: 21px;
}
.text span {
    font-weight: bold;
}
.price {
    text-align: center;
    margin: 10px;
}
.price span {
    font-size: 48px;
}
.price sup {
    vertical-align: super;
    font-size: 24px;
}
.text button {
    width: 210px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
}
.button1 {
    background-color: #2c71b8;
    border: 1px solid #ffffff;
    margin: 15px;
    margin-bottom: 0;
}
.button2 {
    background-color: rgba(255,255,255,0.2);
    border: none;
    margin: 15px;
}